.carousel-container {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.carousel-slide {
    display: none;
    position: relative;
}

.carousel-slide img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Customize the caption text color */
    background-color: rgba(0, 0, 0, 0.7); /* Customize the caption background color and opacity */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

